<a href="https://colab.research.google.com/github/ultimatexlerion/claseSemana01/blob/main/Taller_Exploracion_Ciclos_Cadenas_Condicionales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Taller: Exploración de Datos con Ciclos, Cadenas y Condicionales en Python

## Objetivo del Taller
- Aplicar el uso de ciclos, manejo de cadenas y condicionales para explorar y analizar datos en un archivo CSV utilizando Python.

## Paso 1: Preparar el Entorno de Trabajo
1. **Carga del Archivo CSV:**
- Asegúrate de haber subido el archivo CSV a Google Colab como se indicó en el taller anterior.
- Carga el archivo en un DataFrame de `pandas` utilizando el siguiente código:

In [34]:
import pandas as pd

# Reemplaza 'nombre_del_archivo.csv' con el nombre real de tu archivo CSV
df = pd.read_csv('/content/tested.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

## Paso 2: Exploración de Datos con Ciclos
1. **Iterar Sobre Filas:**
- Itera sobre las filas del DataFrame para explorar el contenido de cada fila. Utiliza un ciclo `for` para recorrer las filas:

In [53]:
for index, row in df.iterrows():
    print(f'Age {index}: {row}')
df.head()

Se truncaron las últimas líneas 5000 del resultado de transmisión.
Age                                                          NaN
SibSp                                                          1
Parch                                                          2
Ticket                                                W./C. 6607
Fare                                                       23.45
Cabin                                                        NaN
Embarked                                                       S
Name: 33, dtype: object
Age 34: PassengerId                         926
Survived                              0
Pclass                                1
Name           Mock, Mr. Philipp Edmund
Sex                                male
Age                                30.0
SibSp                                 1
Parch                                 0
Ticket                            13236
Fare                              57.75
Cabin                               C78
Embarked                              C
Name: 34, dtype: object
Age 35: PassengerId                                                 927
Survived                                                      0
Pclass                                                        3
Name           Katavelas, Mr. Vassilios (Catavelas Vassilios")"
Sex                                                        male
Age                                                        18.5
SibSp                                                         0
Parch                                                         0
Ticket                                                     2682
Fare                                                     7.2292
Cabin                                                       NaN
Embarked                                                      C
Name: 35, dtype: object
Age 36: PassengerId                    928
Survived                         1
Pclass                           3
Name           Roth, Miss. Sarah A
Sex                         female
Age                            NaN
SibSp                            0
Parch                            0
Ticket                      342712
Fare                          8.05
Cabin                          NaN
Embarked                         S
Name: 36, dtype: object
Age 37: PassengerId                   929
Survived                        1
Pclass                          3
Name           Cacic, Miss. Manda
Sex                        female
Age                          21.0
SibSp                           0
Parch                           0
Ticket                     315087
Fare                       8.6625
Cabin                         NaN
Embarked                        S
Name: 37, dtype: object
Age 38: PassengerId                930
Survived                     0
Pclass                       3
Name           Sap, Mr. Julius
Sex                       male
Age                       25.0
SibSp                        0
Parch                        0
Ticket                  345768
Fare                       9.5
Cabin                      NaN
Embarked                     S
Name: 38, dtype: object
Age 39: PassengerId              931
Survived                   0
Pclass                     3
Name           Hee, Mr. Ling
Sex                     male
Age                      NaN
SibSp                      0
Parch                      0
Ticket                  1601
Fare                 56.4958
Cabin                    NaN
Embarked                   S
Name: 39, dtype: object
Age 40: PassengerId                 932
Survived                      0
Pclass                        3
Name           Karun, Mr. Franz
Sex                        male
Age                        39.0
SibSp                         0
Parch                         1
Ticket                   349256
Fare                    13.4167
Cabin                       NaN
Embarked                      C
Name: 40, dtype: object
Age 41: PassengerId                            933
Survived                                 0
Pclass                                   1
Name           Franklin, Mr. Thomas Parham
Sex                                   male
Age                                    NaN
SibSp                                    0
Parch                                    0
Ticket                              113778
Fare                                 26.55
Cabin                                  D34
Embarked                                 S
Name: 41, dtype: object
Age 42: PassengerId                      934
Survived                           0
Pclass                             3
Name           Goldsmith, Mr. Nathan
Sex                             male
Age                             41.0
SibSp                              0
Parch                              0
Ticket            SOTON/O.Q. 3101263
Fare                            7.85
Cabin                            NaN
Embarked                           S
Name: 42, dtype: object
Age 43: PassengerId                                      935
Survived                                           1
Pclass                                             2
Name           Corbett, Mrs. Walter H (Irene Colvin)
Sex                                           female
Age                                             30.0
SibSp                                              0
Parch                                              0
Ticket                                        237249
Fare                                            13.0
Cabin                                            NaN
Embarked                                           S
Name: 43, dtype: object
Age 44: PassengerId                                                 936
Survived                                                      1
Pclass                                                        1
Name           Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)
Sex                                                      female
Age                                                        45.0
SibSp                                                         1
Parch                                                         0
Ticket                                                    11753
Fare                                                    52.5542
Cabin                                                       D19
Embarked                                                      S
Name: 44, dtype: object
Age 45: PassengerId                                937
Survived                                     0
Pclass                                       3
Name           Peltomaki, Mr. Nikolai Johannes
Sex                                       male
Age                                       25.0
SibSp                                        0
Parch                                        0
Ticket                       STON/O 2. 3101291
Fare                                     7.925
Cabin                                      NaN
Embarked                                     S
Name: 45, dtype: object
Age 46: PassengerId                         938
Survived                              0
Pclass                                1
Name           Chevre, Mr. Paul Romaine
Sex                                male
Age                                45.0
SibSp                                 0
Parch                                 0
Ticket                         PC 17594
Fare                               29.7
Cabin                                A9
Embarked                              C
Name: 46, dtype: object
Age 47: PassengerId                         939
Survived                              0
Pclass                                3
Name           Shaughnessy, Mr. Patrick
Sex                                male
Age                                 NaN
SibSp                                 0
Parch                                 0
Ticket                           370374
Fare                               7.75
Cabin                               NaN
Embarked                              Q
Name: 47, dtype: object
Age 48: PassengerId                                                940
Survived                                                     1
Pclass                                                       1
Name           Bucknell, Mrs. William Robert (Emma Eliza Ward)
Sex                                                     female
Age                                                       60.0
SibSp                                                        0
Parch                                                        0
Ticket                                                   11813
Fare                                                   76.2917
Cabin                                                      D15
Embarked                                                     C
Name: 48, dtype: object
Age 49: PassengerId                                               941
Survived                                                    1
Pclass                                                      3
Name           Coutts, Mrs. William (Winnie Minnie" Treanor)"
Sex                                                    female
Age                                                      36.0
SibSp                                                       0
Parch                                                       2
Ticket                                             C.A. 37671
Fare                                                     15.9
Cabin                                                     NaN
Embarked                                                    S
Name: 49, dtype: object
Age 50: PassengerId                         942
Survived                              0
Pclass                                1
Name           Smith, Mr. Lucien Philip
Sex                                male
Age                                24.0
SibSp                                 1
Parch                                 0
Ticket                            13695
Fare                               60.0
Cabin                               C31
Embarked                              S
Name: 50, dtype: object
Age 51: PassengerId                   943
Survived                        0
Pclass                          2
Name           Pulbaum, Mr. Franz
Sex                          male
Age                          27.0
SibSp                           0
Parch                           0
Ticket              SC/PARIS 2168
Fare                      15.0333
Cabin                         NaN
Embarked                        C
Name: 51, dtype: object
Age 52: PassengerId                              944
Survived                                   1
Pclass                                     2
Name           Hocking, Miss. Ellen Nellie""
Sex                                   female
Age                                     20.0
SibSp                                      2
Parch                                      1
Ticket                                 29105
Fare                                    23.0
Cabin                                    NaN
Embarked                                   S
Name: 52, dtype: object
Age 53: PassengerId                           945
Survived                                1
Pclass                                  1
Name           Fortune, Miss. Ethel Flora
Sex                                female
Age                                  28.0
SibSp                                   3
Parch                                   2
Ticket                              19950
Fare                                263.0
Cabin                         C23 C25 C27
Embarked                                S
Name: 53, dtype: object
Age 54: PassengerId                                  946
Survived                                       0
Pclass                                         2
Name           Mangiavacchi, Mr. Serafino Emilio
Sex                                         male
Age                                          NaN
SibSp                                          0
Parch                                          0
Ticket                               SC/A.3 2861
Fare                                     15.5792
Cabin                                        NaN
Embarked                                       C
Name: 54, dtype: object
Age 55: PassengerId                     947
Survived                          0
Pclass                            3
Name           Rice, Master. Albert
Sex                            male
Age                            10.0
SibSp                             4
Parch                             1
Ticket                       382652
Fare                         29.125
Cabin                           NaN
Embarked                          Q
Name: 55, dtype: object
Age 56: PassengerId                948
Survived                     0
Pclass                       3
Name           Cor, Mr. Bartol
Sex                       male
Age                       35.0
SibSp                        0
Parch                        0
Ticket                  349230
Fare                    7.8958
Cabin                      NaN
Embarked                     S
Name: 56, dtype: object
Age 57: PassengerId                              949
Survived                                   0
Pclass                                     3
Name           Abelseth, Mr. Olaus Jorgensen
Sex                                     male
Age                                     25.0
SibSp                                      0
Parch                                      0
Ticket                                348122
Fare                                    7.65
Cabin                                  F G63
Embarked                                   S
Name: 57, dtype: object
Age 58: PassengerId                          950
Survived                               0
Pclass                                 3
Name           Davison, Mr. Thomas Henry
Sex                                 male
Age                                  NaN
SibSp                                  1
Parch                                  0
Ticket                            386525
Fare                                16.1
Cabin                                NaN
Embarked                               S
Name: 58, dtype: object
Age 59: PassengerId                            951
Survived                                 1
Pclass                                   1
Name           Chaudanson, Miss. Victorine
Sex                                 female
Age                                   36.0
SibSp                                    0
Parch                                    0
Ticket                            PC 17608
Fare                               262.375
Cabin                                  B61
Embarked                                 C
Name: 59, dtype: object
Age 60: PassengerId                952
Survived                     0
Pclass                       3
Name           Dika, Mr. Mirko
Sex                       male
Age                       17.0
SibSp                        0
Parch                        0
Ticket                  349232
Fare                    7.8958
Cabin                      NaN
Embarked                     S
Name: 60, dtype: object
Age 61: PassengerId                          953
Survived                               0
Pclass                                 2
Name           McCrae, Mr. Arthur Gordon
Sex                                 male
Age                                 32.0
SibSp                                  0
Parch                                  0
Ticket                            237216
Fare                                13.5
Cabin                                NaN
Embarked                               S
Name: 61, dtype: object
Age 62: PassengerId                             954
Survived                                  0
Pclass                                    3
Name           Bjorklund, Mr. Ernst Herbert
Sex                                    male
Age                                    18.0
SibSp                                     0
Parch                                     0
Ticket                               347090
Fare                                   7.75
Cabin                                   NaN
Embarked                                  S
Name: 62, dtype: object
Age 63: PassengerId                             955
Survived                                  1
Pclass                                    3
Name           Bradley, Miss. Bridget Delia
Sex                                  female
Age                                    22.0
SibSp                                     0
Parch                                     0
Ticket                               334914
Fare                                  7.725
Cabin                                   NaN
Embarked                                  Q
Name: 63, dtype: object
Age 64: PassengerId                            956
Survived                                 0
Pclass                                   1
Name           Ryerson, Master. John Borie
Sex                                   male
Age                                   13.0
SibSp                                    2
Parch                                    2
Ticket                            PC 17608
Fare                               262.375
Cabin                      B57 B59 B63 B66
Embarked                                 C
Name: 64, dtype: object
Age 65: PassengerId                                                  957
Survived                                                       1
Pclass                                                         2
Name           Corey, Mrs. Percy C (Mary Phyllis Elizabeth Mi...
Sex                                                       female
Age                                                          NaN
SibSp                                                          0
Parch                                                          0
Ticket                                              F.C.C. 13534
Fare                                                        21.0
Cabin                                                        NaN
Embarked                                                       S
Name: 65, dtype: object
Age 66: PassengerId                        958
Survived                             1
Pclass                               3
Name           Burns, Miss. Mary Delia
Sex                             female
Age                               18.0
SibSp                                0
Parch                                0
Ticket                          330963
Fare                            7.8792
Cabin                              NaN
Embarked                             Q
Name: 66, dtype: object
Age 67: PassengerId                               959
Survived                                    0
Pclass                                      1
Name           Moore, Mr. Clarence Bloomfield
Sex                                      male
Age                                      47.0
SibSp                                       0
Parch                                       0
Ticket                                 113796
Fare                                     42.4
Cabin                                     NaN
Embarked                                    S
Name: 67, dtype: object
Age 68: PassengerId                                960
Survived                                     0
Pclass                                       1
Name           Tucker, Mr. Gilbert Milligan Jr
Sex                                       male
Age                                       31.0
SibSp                                        0
Parch                                        0
Ticket                                    2543
Fare                                   28.5375
Cabin                                      C53
Embarked                                     C
Name: 68, dtype: object
Age 69: PassengerId                                    961

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

2. **Contar Valores con una Condición:**
- Usa un ciclo para contar cuántas filas cumplen con una condición específica. Por ejemplo, cuántos registros tienen una cadena específica en una columna.

In [56]:
# Reemplaza 'Nombre_de_la_columna' y 'valor_especifico' por los valores que deseas analizar
contador = 0
for index, row in df.iterrows():
    if 'Kelly' in row['Name']:
        contador += 1

print(f'Total de filas que cumplen con la condición: {contador}')

Total de filas que cumplen con la condición: 1

## Paso 3: Manipulación de Cadenas
1. **Operaciones con Cadenas:**
- Manipula cadenas en las columnas para extraer información o realizar modificaciones. Por ejemplo, convertir una columna a minúsculas:

In [65]:
# Reemplaza 'Nombre_de_la_columna' con el nombre de la columna
df['PassengerId'] = df['Name'].str.lower()
print(df.head())

                                    PassengerId  Survived  Pclass  \
0                              kelly, mr. james         0       3
1              wilkes, mrs. james (ellen needs)         1       3
2                     myles, mr. thomas francis         0       2
3                              wirz, mr. albert         0       3
4  hirvonen, mrs. alexander (helga e lindqvist)         1       3

                                           Name     Sex   Age  SibSp  Parch  \
0                              kelly, mr. james    male  34.5      0      0
1              wilkes, mrs. james (ellen needs)  female  47.0      1      0
2                     myles, mr. thomas francis    male  62.0      0      0
3                              wirz, mr. albert    male  27.0      0      0
4  hirvonen, mrs. alexander (helga e lindqvist)  female  22.0      1      1

    Ticket     Fare Cabin Embarked
0   330911   7.8292   NaN        Q
1   363272   7.0000   NaN        S
2   240276   9.6875   NaN        Q
3   315154   8.6625   NaN        S
4  3101298  12.2875   NaN        S

2. **Filtrar Filas Basado en Cadenas:**
- Filtra las filas que contienen una cadena específica en una columna y muestra el resultado:

In [66]:
# Reemplaza 'Nombre_de_la_columna' y 'cadena_a_buscar'
filtro = df[df['Name'].str.contains('kelly', case=False)]
print(filtro)

        PassengerId  Survived  Pclass              Name   Sex   Age  SibSp  \
0  kelly, mr. james         0       3  kelly, mr. james  male  34.5      0

   Parch  Ticket    Fare Cabin Embarked
0      0  330911  7.8292   NaN        Q

## Paso 4: Uso de Condicionales para Análisis
1. **Clasificación Basada en Condiciones:**
- Clasifica las filas según una condición y añade una nueva columna con el resultado de la clasificación:

In [75]:
# Reemplaza 'Nombre_de_la_columna' y ajusta las condiciones a tus necesidades
condiciones = []
for index, row in df.iterrows():
    if row['Survived'] > 10:
        condiciones.append('Alto')
    else:
        condiciones.append('Bajo')

df['Clasificación'] = condiciones
print(df.head())

                                    PassengerId  Survived  Pclass  \
0                              kelly, mr. james         0       3
1              wilkes, mrs. james (ellen needs)         1       3
2                     myles, mr. thomas francis         0       2
3                              wirz, mr. albert         0       3
4  hirvonen, mrs. alexander (helga e lindqvist)         1       3

                                           Name     Sex   Age  SibSp  Parch  \
0                              kelly, mr. james    male  34.5      0      0
1              wilkes, mrs. james (ellen needs)  female  47.0      1      0
2                     myles, mr. thomas francis    male  62.0      0      0
3                              wirz, mr. albert    male  27.0      0      0
4  hirvonen, mrs. alexander (helga e lindqvist)  female  22.0      1      1

    Ticket     Fare Cabin Embarked Clasificación
0   330911   7.8292   NaN        Q          Bajo
1   363272   7.0000   NaN        S          Bajo
2   240276   9.6875   NaN        Q          Bajo
3   315154   8.6625   NaN        S          Bajo
4  3101298  12.2875   NaN        S          Bajo

2. **Condicionales Múltiples:**
- Aplica múltiples condiciones para realizar un análisis más detallado. Por ejemplo, clasificar según dos columnas:

In [77]:
def clasificar(row):
    if row['Ticket'] == 10 and row['Fare'] == 'Específico':
        return 'Clase A'
    else:
        return 'Clase B'

df['Clase'] = df.apply(clasificar, axis=1)
print(df.head())

                                    PassengerId  Survived  Pclass  \
0                              kelly, mr. james         0       3
1              wilkes, mrs. james (ellen needs)         1       3
2                     myles, mr. thomas francis         0       2
3                              wirz, mr. albert         0       3
4  hirvonen, mrs. alexander (helga e lindqvist)         1       3

                                           Name     Sex   Age  SibSp  Parch  \
0                              kelly, mr. james    male  34.5      0      0
1              wilkes, mrs. james (ellen needs)  female  47.0      1      0
2                     myles, mr. thomas francis    male  62.0      0      0
3                              wirz, mr. albert    male  27.0      0      0
4  hirvonen, mrs. alexander (helga e lindqvist)  female  22.0      1      1

    Ticket     Fare Cabin Embarked Clasificación    Clase
0   330911   7.8292   NaN        Q          Bajo  Clase B
1   363272   7.0000   NaN        S          Bajo  Clase B
2   240276   9.6875   NaN        Q          Bajo  Clase B
3   315154   8.6625   NaN        S          Bajo  Clase B
4  3101298  12.2875   NaN        S          Bajo  Clase B

## Paso 5: Conclusión y Ejercicios Prácticos
1. **Conclusión:**
- Recapitulación de los conceptos aplicados: ciclos, cadenas y condicionales en la exploración de datos.
2. **Ejercicio Práctico:**
- Propón a los estudiantes que realicen un análisis más profundo utilizando combinaciones de ciclos, cadenas y condicionales para responder preguntas específicas sobre el dataset, como identificar patrones o anomalías.